{% extends "../layout.njk" %}

{% block content %}
  <h2>Conheça nossos animais para adoção: </h2>
  <div class="card index-instructor">
    {% for instructor in instructors%}
      <div class="card-instructor">
        <img src={{instructor.avatar_url}}/>
        <div class="instructor-information">
          <p>
            <b>Name</b>: {{instructor.name}}</p>

          <p>
            <b>Características</b>: {{instructor.services}}</p>
        </div>
        <div class="action-buttons">
          <a href='/instructors/{{instructor.id}}'>Ver Mais</a>
        </div>
      </div>

    {% endfor %}
  </div>
{% endblock content %}