@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-header: rgb(34, 34, 33);
  --color-background: #7159c1;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--color-background);
  color: #333;
}

header .links {
  padding: 24px;
  background-color: var(--color-header);
  box-sizing: border-box;

  display: flex;
  justify-content: start;
  align-items: center;
}

.links a {
  position: relative;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  align-items: center;
}

.links a + a {
  margin-left: 2.5vw;
}

.links a + a + a {
  margin-left: 25vw;
}

.links a:hover {
  color: #7159c1;
}

.links a.active {
  font-weight: bold;
}

.links a::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--color-background);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: width;
}

.links a:hover::after {
  width: 100%;
  transition: width 400ms ease-in-out;
}

/*
=======================
    instructors
=======================
*/
.card {
  background-color: #ddd;
  width: 800px;
  min-height: 400px;

  margin: 64px auto;
  border-radius: 8px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.637);

  animation: up 1000ms ease;
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
  }
}

/* Details */
.details {
  padding: 32px;
}

.avatar {
  border-radius: 16px 0 0 16px;
}

.details .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 16px 0;
}

.details .item:last-child {
  border: none;
}

.details .item div:nth-child(1),
.details h3 {
  font-size: 14px;
  line-height: 24px;
  color: #777;
  letter-spacing: 1px;
}

.details .item div:nth-child(2) {
  color: #444;
  font-weight: bold;
  font-size: 18px;
}

.details h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-background);
}

.details .item div:nth-child(2) span {
  padding: 8px 16px;
  background-color: #3c3ed4;
  border: 2px solid var(--color-background);
  border-radius: 4px;
  color: #eee;
  font-size: 14px;
  margin-right: 8px;

  display: inline-block;
  margin-top: 8px;

  text-transform: uppercase;
}

/*
======================
      FORM
======================
*/

input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  outline-color: var(--color-background);
  outline-width: thin;
  color: var(--color-background);
  font-size: 16px;
  font-weight: bold;
}

input[type='date'],
input::placeholder {
  font-size: 14px;
  color: var(--color-background);
  opacity: 0.7;
}

.gender {
  text-align: center;
}

input[type='radio'] {
  font-size: 16px;
  width: initial;
  margin-right: 16px;
}

.button,
.botaoEditar {
  text-align: center;
}

button[type='submit'],
.edite {
  margin-top: 32px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: var(--color-background);
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  width: 70%;
}

.edite {
  display: block;
  margin: 16px auto;
  box-sizing: border-box;
  text-decoration: none;
}

button[type='submit']:hover,
.edite:hover {
  width: 100%;
  transition: 400ms;
  font-size: 15px;
}

#form-delete button[type='submit'] {
  background-color: rgb(248, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px auto;
  text-transform: uppercase;
}
